/**
 * This stylesheet provides RPG chat specific CSS to hide parts we don't want.
 */

/* Hide the 'comments' label on RPG chat nodes. */
#comments h2.title {display:none;}

/* Arrange components of the chat room. */
#rpg-chat {clear:both;}
#rpg-chat #rpg-chat-userlist {width: 24%;float:right;clear:right;}
#rpg-chat .comment {width: 75%;float:left;clear:left;}
#comment-form {clear:both;}

/* Display particulars, default values. */
#rpg-chat #rpg-chat-userlist {border:solid 1px #DDD;}
#rpg-chat #rpg-chat-userlist h3 {text-align:center;}

/* Hide specific elements of the comment display. */
#rpg-chat .comment .comment-permalink {display:none;}
#rpg-chat .comment h3 {display:none;}
#rpg-chat .comment .links {display:none;}
