/* CSS for char permission layout. */
.rpgchat-user-name{clear:left;}
.rpgchat-character-perms .char-perm-button{float:left;
  color:transparent !important;
  text-shadow: 0 0 0 transparent !important;
  padding: 0  !important;
  background:rgba(0, 0, 0, 0) no-repeat scroll 0 0 / 100% 100% !important;
  height: 20px;
  width: 20px;
}
.rpgchat-character-perms .char-perm-button-yes{
  border:solid 1px green;
}
.rpgchat-character-perms .char-perm-button-no{
  border:solid 1px red;
}
.rpgchat-character-perms .char-perm-button-892{
  background-image:url("images/sex.png") !important;
}
.rpgchat-character-perms .char-perm-button-893{
  background-image:url("images/violence.png") !important;
}
.rpgchat-character-perms .char-perm-button-894{
  background-image:url("images/mind.png") !important;
}
.rpgchat-character-perms .char-perm-button-895{
  background-image:url("images/consent.png") !important;
}
.rpgchat-character-perms .char-perm-button-1295{
  background-image:url("images/pvp.png") !important;
}