/* CSS for the RPG chat room. */
.node-type-rpg-chatroom #main{padding-top:.5em;}
.node-type-rpg-chatroom #page-title{clear:right;float:right;height:0px;margin-top:0.5em;}
.node-type-rpg-chatroom #content ul.tabs-primary{margin-bottom:0;}
.node-type-rpg-chatroom .breadcrumb{display:none;}

/* Only show certain links. */
.node-rpg-chatroom .links{display:none;}
.node-rpg-chatroom .comment .links{display:inline-block;}
.node-rpg-chatroom.clearfix:after{clear:none;}
.node-rpg-chatroom .field-type-node-reference.clearfix:after{clear:none;}

/* Reduce displays on the comment form. */
.node-rpg-chatroom #comment-form{clear:left;float:left;width:400px;}
.node-rpg-chatroom #comment-form .form-type-item{display:none;}
.node-rpg-chatroom #comment-form .filter-wrapper{display:none;}
.node-rpg-chatroom #comment-form .field-name-field-artwork{float:none;padding:0;clear:right;width:250px;}

/* Dice roller tweaks. */
.node-rpg-chatroom #comment-form .vaxia-dice-roller #edit-vaxia-rolls-items{width:380px;}
.node-rpg-chatroom #comment-form .vaxia-dice-roller .dice-number{width:auto;}
.node-rpg-chatroom #comment-form .vaxia-dice-roller .dice-size{width:auto;}
.node-rpg-chatroom #comment-form .vaxia-dice-roller .dice-skill{width:180px;}
.node-rpg-chatroom #comment-form .vaxia-dice-roller .dice-stat{width:90px;}
.node-rpg-chatroom #comment-form .vaxia-dice-roller .form-item-vaxia-rolls-items .form-select{width:100%;}
.node-rpg-chatroom #comment-form .vaxia-dice-roller table td{padding-right:0;}
.node-rpg-chatroom #comment-form .vaxia-dice-roller .form-type-textfield .dice-skill{width:170px;}
.node-rpg-chatroom #comment-form .vaxia-dice-roller .fieldset-description{float:right;font-size:10px;position:relative;z-index:10;}
.node-rpg-chatroom #comment-form .vaxia-dice-roller .form-type-textfield .dice-stat{width:80px;}
.node-rpg-chatroom #comment-form .vaxia-dice-roller-hidden{display:none!important;}

/* Layout of the chatroom itself. */
.node-rpg-chatroom .field-name-field-private-room{float:left;clear:left;}
.node-rpg-chatroom #rpg-chat-wrapper{float:none;margin-left:410px;margin-right:40px;position:relative;top:-50px;}

/* Handle the userlist. */
.node-rpg-chatroom #rpg-chat-userlist{margin-right:32px;clear:right;float:none;width:100%;}
.node-rpg-chatroom #rpg-chat-userlist h3{display:none;}
.node-rpg-chatroom #rpg-chat-userlist ul{margin:0;}
.node-rpg-chatroom #rpg-chat-userlist li{float:right;width:30%;overflow:hidden;}

/* Chatroom comments. */
.node-rpg-chatroom #rpg-chat{clear:right;float:none;width:100%;background-color:#555;border:solid 1px #FFF;padding:.5em;}
.node-rpg-chatroom #rpg-chat.clearfix:after{clear:none;}
.node-rpg-chatroom #rpg-chat .comment{padding:0.5em;}
.node-rpg-chatroom #rpg-chat .field-name-comment-body{min-height:210px;}
.node-rpg-chatroom #rpg-chat .permalink{float:none;}
.node-rpg-chatroom #rpg-chat .submitted{float:left;margin:1em;width:150px;}
.node-rpg-chatroom #rpg-chat .submitted img{display:block;margin:0 auto;}
.node-rpg-chatroom #rpg-chat .submitted span{display:block;}
.node-rpg-chatroom #rpg-chat .dice_rolls{clear:both;}
.node-rpg-chatroom #rpg-chat .dice_rolls .dice{clear:none;}
.node-rpg-chatroom #rpg-chat .rpg-reputation{margin:0;padding:0;}

/* WAS clear:right !important; */
.node-rpg-chatroom #rpg-chat .field-name-field-ooc{clear:none;height:auto;min-height:1px;}

/* Hide elements we don't want in all posts. */
.node-rpg-chatroom #rpg-chat h2.title{display:none;}
.node-rpg-chatroom #rpg-chat .new{display:none;}
.node-rpg-chatroom #rpg-chat .comment-reply{display:none;}

/* Collapse things not used. */
.node-rpg-chatroom #rpg-chat .field-name-field-ooc p:empty{height:1px;margin:0;}
.node-rpg-chatroom #rpg-chat .dice_rolls:empty{height:1px;margin:0;}

/* Images only allowed in OOC rooms */
.node-rpg-chatroom #rpg-chat .field-name-comment-body img{display:none;}
.node-rpg-chatroom.ooc-room #rpg-chat .field-name-comment-body img{max-width:400px;}

/* Tweak narrative posts. */
.node-rpg-chatroom .rpg-chat-narrative .submitted{display:none;}
.node-rpg-chatroom .rpg-chat-narrative .field-name-comment-body{min-height:10px!important;}

/* Change links within the chatroom. */
.node-rpg-chatroom #rpg-chat .links{display:inline-block;float:right;margin:0;height:15px;}
.node-rpg-chatroom #rpg-chat .links li{height:15px;}
.node-rpg-chatroom #rpg-chat .links li a{-moz-appearance:none;-webkit-appearance:none;background:none;
  border:0 none;color:#EEE;display:inline;float:right;font-size:80%;font-style:italic;
  margin:0 0 0 1em;padding:0;text-shadow:0 0 0;}

/* Block specific changes. */
#block-views-proposals-proposals-closing{background:rgba(100,100,100,0.3);
  border:1px solid #EEE;padding-left:1em;padding-right:1em;}
#block-play-suggestions-play-suggestions{float:right;clear:right;margin:0px;
  position:relative;z-index:10;}
#block-dice-ruler-dice-ruler{float:left;clear:left;margin:0px;}
#block-dice-ruler-dice-ruler #dice-ruler-form .form-item-actions select{width:240px;}

/* Don't show fake errors. */
#block-views-rpg-chats-search-rpg-chats .form-item .error,
#block-views-rpg-chats-inroom-rpg-chats .form-item .error{border:1px solid #ccc;}
