/**
 * adaptivethemes.com
 *
 * @file ie-lte-7.css
 *
 * Support for the Conditional Styles module. This module allows themes 
 * to specify conditional stylesheets in their .info file and the conditional 
 * comments will be automatically included at the end of the standard $styles variable. 
 * 
 * http://drupal.org/project/conditional_styles
 *
 * The module is not included in the base theme, you must download and install it.
 */

