.extruder.left{
    background: #555;
}

.flap{
    width: 30px;
    position: absolute;
    background: #555;
    left:-3em;
    padding:10px 2px;
    padding-left:5px;
    border:#EEE solid 1px;
    border-left:0px;
}
.flap .flapLabel{
    background: #555;
}

.isOpen .ext_wrapper{
    width: 600px;
}

.isOpen .ext_wrapper .extruder-content{
    background: #555;
    border:#EEE 1px solid;
    position:relative;
    left:1em;
    top:2em;
    padding:0.5em;
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
}

#extruderBarNav fieldset{
    border: 0px;
    padding:0px;
    margin:0px;
}
#extruderBarNav fieldset legend{
    display:none;
}
#extruderBarNav .field-name-field-children{
    float:none;
    clear:none;
    padding:0;
    margin:0;
    width:100%;
}

#extruderBarHead #navigation{
    height:auto;
    text-align:left;
    overflow:hidden;
}
#extruderBarHead #navigation #main-menu{
    float:none;
    top:0;
}
#extruderBarHead #navigation ul.links li, #extruderBarHead #navigation ul.menu li {
    float:none;
    list-style-type:disc;
}
#extruderBarHead ul.inline{
    display:block;
}
#extruderBarHead li{
    float:none;
    display:block;
}
#extruderBarHead #navigation a{
    text-align:left;
}