/* Layout. */

/*
body::after {content:'';background: url('images/brut.jpg');
  background-repeat:repeat;background-attachment:fixed;
  opacity: 0.5;top: 0;left: 0;bottom: 0;right: 0;height:100%;width:100%;
  position:fixed;z-index:-1;}
#page{background-repeat:repeat;background-attachment:fixed;}
#page{background-color:rgb(255,255,255,0.85) !important;}
*/

body{background-image:url('images/texture.png');background-repeat:repeat;background-attachment:fixed;}
#page{background-image:url('images/texture.png');background-repeat:repeat;background-attachment:fixed;}
#header{background-image:url('images/texture.png');background-repeat:repeat;}
#primary-menu-bar{width:90%;height:1.75em;
  -webkit-border-radius:0 0 100px;border-radius:0 0 100px;
  background-image:url('images/texture.png');background-repeat:repeat;}
#primary-menu-bar nav{height:1.75em;background-color:rgba(255,255,255, 0.6);
  -webkit-border-radius:0 0 100px;border-radius:0 0 100px;}
#columns{padding: 0 0.5em;}
#footer{margin:0;background-image:url('images/texture.png');background-repeat:repeat;}

/* Font size, color, family.*/
body{font-family:Verdana,Arial,Helvetica,sans-serif;}

h1{font-size:1.8em;font-family:'Fjalla One', sans-serif;font-weight:400;text-transform:uppercase;}
h2{font-size:1.6em;font-family:'Fjalla One', sans-serif;font-weight:400;text-transform:uppercase;}
h3{font-size:1.4em;font-family:'Fjalla One', sans-serif;font-weight:400;text-transform:uppercase;}
p{font-size:100%;}

/* Header. */
#header{padding-bottom:1em;padding-top:2em;margin-bottom: -1em;}
#header #site-name{font-size: 4.5em;padding:0 1em;margin:0;float:left;white-space: nowrap;}
#header #site-name a:link, #site-name a:visited, #site-name a:hover{text-decoration:none;}
#header #logo{display:none;}
#header #site-slogan{display:none;}
#header .region-header{display:none;}

/* Navigation. */
#primary-menu-bar .primary-menu{position: relative;top: -3.5em;float: right;}
#primary-menu-bar a{font-size:1.6em;font-weight:400;text-decoration:none;
  font-family:'Fjalla One', sans-serif;text-transform:uppercase;}
#primary-menu-bar a:hover{background:url('images/underline.jpg') center bottom no-repeat;}
#secondary-menu-bar{display:none;}

/* Navigation dot display. */
#content #crumbs{display:none;}

/* Sidebar rounds. */
.region-sidebar-first h2{padding:0.25em 0.25em 0.25em 1em;margin-bottom:0.25em;margin-left: -0.75em;
  font-size:1.8em;font-weight:400;white-space:nowrap;
  -webkit-border-radius:0 100px 100px 0;border-radius:0 100px 100px 0;
  background-image:url('images/texture.png');background-repeat:repeat;}
.region-sidebar-first h3{padding:0.25em 0.25em 0.25em 1em;margin-bottom:0.25em;margin-left: -0.75em;
  font-size:1.8em;font-weight:400;white-space:nowrap;
  -webkit-border-radius:0 100px 100px 0;border-radius:0 100px 100px 0;
  background-image:url('images/texture.png');background-repeat:repeat;}
.region-sidebar-first .region-inner{padding-right: 0.5em;}

/* Tabs */
ul.tabs li{float: left;margin-top: 0.5em;margin-right: 0.25em;
  border:solid 2px;padding:1px;border-bottom:0;
  -khtml-border-radius:8px 8px 0 0;-moz-border-radius:8px 8px 0 0;
  -webkit-border-radius:8px 8px 0 0;border-radius:8px 8px 0 0;}
ul.primary{padding-bottom:0;}
ul.primary li{text-shadow:none;}
ul.primary a:link, ul.primary a:visited{padding:0 1em;
  font-family:'Fjalla One', sans-serif;text-transform:uppercase;
  text-align:center;border-style:none !important;border-radius:8px 8px 0 0;
  font-size:1.1em;background-color:transparent;}
ul.primary a.active{background-image:none;font-weight: bold;}
.vertical-tabs ul.vertical-tabs-list li{background-color:transparent;}
.vertical-tabs ul.vertical-tabs-list li.selected{background-color:transparent;}

/* Input buttons. */
.button, button, input[type="reset"], input[type="button"], input[type="submit"]{
  -khtml-border-radius:8px;-moz-border-radius:8px;
  -webkit-border-radius:8px;border-radius:8px;
  border-style:solid;border-width:1px;height:34px;
  font-family:'Fjalla One', sans-serif;text-transform:uppercase;
  padding:0.5em;margin:0.5em 0 0 3px;white-space:nowrap;}
a.button, .button a{text-decoration:none;}

/* Forms */
form input[type=text], form input[type=password]{height:28px;}
form select{height:34px;font-size:1em;}
form select optgroup:before{content: attr(label);display: block;}
form select optgroup{height:34px;font-size:1em;}
form select option{height:34px;font-size:1em;}
form .dd{-khtml-border-radius:0;-moz-border-radius:0;-webkit-border-radius:0;border-radius:0;}
form .dd .ddTitle{background:url();font-size:1em;}

/* Tables */
tr.even, tr.odd{background-color:transparent;border-bottom:solid 1px;}
tr.even td.active, tr.odd td.active{background-color:transparent;}

/* Pullout color tweaks */
.jsPulloutFlap{z-index:50;background-image:url('images/texture.png');background-repeat:repeat;
  -khtml-border-radius:0 0 8px 8px;-moz-border-radius:0 0 8px 8px;
  -webkit-border-radius:0 0 8px 8px;border-radius:0 0 8px 8px;
}
.jsPulloutContent{z-index:100;background-image:url('images/texture.png');background-repeat:repeat;}
.jsPulloutContent .region-sidebar-first{margin-left:0.8em;}
.jsPulloutContent .region-sidebar-first h2{margin-left:-17px;}
.jsPulloutContent .region-sidebar-first h3{margin-left:-17px;}
.jsPulloutFlap a{font-size:1.4em;font-family:'Fjalla One', sans-serif;font-weight:400;}
#target_extruderBarHead .primary-menu{top:0;}
#target_extruderBarFirst{height: 400px;overflow-x: hidden;overflow-y: scroll;}

/* User profiles */
.page-user .profile .field-name-field-artwork-image{float:left;margin-right:1em;margin-top:0.6em;}
.page-user .profile .privatemsg-send-link{display:block;margin-bottom:1em;font-weight:400;font-size:1.2em;}
.page-user .profile .masquerade-switch{display:block;margin-bottom:1em;font-weight:400;font-size:1.2em;}

/* Badges */
.user_badges img{margin:0.25em;padding:0.25em;border:solid 2px;border-radius:4px;}
.author-badges img{margin:0.12em;padding:0.12em;border:solid 2px;border-radius:4px;width:30px;height: 30px;}

/* TnC to left and font size. */
.terms_and_conditions{float:right;font-size:70%;max-width:500px;text-align:right;margin:1em 0;margin-right: 0.5em;}

/* General layout. */
article .view-artwork td{background:#aaa;border:2px solid #eee;padding:.5em;text-align:center;}
div.imagefield-crop-widget img{max-width:none;}

/* Chat type layout. */
.node-type-rpg-chatroom #content-column .content-inner{margin-left:0px;}
.node-type-rpg-chatroom #content-column #content{position: relative;top:-2em;}
.node-type-rpg-chatroom #comment-form .field-name-field-artwork .dd{width:250px !important;}
.node-type-rpg-chatroom article nav{display:none;}
.node-type-rpg-chatroom #messages{display:none;}

/* Chat room specific. */
#rpg-chat, #rpg-chat .rpg-chat-post {
  -khtml-border-radius:8px;-moz-border-radius:8px;
  -webkit-border-radius:8px;border-radius:8px;}
#rpg-chat .rpg-chat-post{margin-bottom: 0.25em;}
#rpg-chat .rpg-chat-post .comment-spacer{display:none;}
#rpg-chat img{max-width:300px;}

/* Forums. */
.forum-post img{max-width:300px;}
.forum-post-info{border-top:1px solid;border-bottom:1px solid;}
.forum-post-footer{border-bottom:1px solid;}
.forum-post-wrapper .author-pane-section img.image-style-thumbnail{max-width:125px;}
.rate-number-up-down-rating{font-size:16px;font-weight:700;line-height:26px;}
.rate-widget .rate-number-up-down-btn-up{border:1px solid;margin-left:10px;}
.forum-post-links li{border:solid 1px;padding:2px;margin-right: 0.25em;
  -khtml-border-radius:8px;-moz-border-radius:8px;
  -webkit-border-radius:8px;border-radius:8px;}
.forum-node-create-links{width:60%;}
.forum-node-create-links .forum-add-node{margin-top: 0.5em;margin-right: 0.25em;
  border:solid 1px;padding:2px;float: left;
  -khtml-border-radius:8px;-moz-border-radius:8px;
  -webkit-border-radius:8px;border-radius:8px;}
.forum-node-create-links .forum-add-node a{text-decoration: none;padding: 0.25em;}
.author-pane .author-ip{display:none;}

/* Hide the rate down button. */
.rate-number-up-down-btn-down{display:none;}

/* Responsive bits. */
@media only screen and (min-width:769px) and (max-width:1024px){
  font-size: 3.5em;
}
@media only screen and (min-width:581px) and (max-width:768px) {
  margin-bottom: 0.75em;
}
@media only screen and (min-width:321px) and (max-width:580px) {
  #header #site-name {padding: 0 0.25em;font-size: 3em;margin-bottom: 2em;}
  #primary-menu-bar .primary-menu{top:-5.5em;}
}
@media only screen and (max-width:320px) {
}