/* CSS for the RPG chat room. */

#rpg-chat {
clear:right!important;
}

#rpg-chat .comment .links {
display:inline !important;
float:right;
margin:0;
}
.node-rpg-chatroom .links .first{display:none;}
.node-rpg-chatroom .comment .links .first{display:inline-block;}
.node-rpg-chatroom  #comment-form .filter-wrapper{display:none;}
#rpg-chat .comment .new{display:none;}
#rpg-chat .comment .comment-reply{display:none;}

#rpg-chat .comment .links li a,#rpg-chat .comment .links li a {
-moz-appearance:none;
-webkit-appearance:none;
background:none;
border:0 none;
color:#EEE;
display:inline;
float:right;
font-size:80%;
font-style:italic;
margin:0 0 0 1em;
padding:0;
text-shadow:0 0 0;
}

#rpg-chat .field-name-field-ooc {
clear:none;
height:auto;
min-height:1px;
}

#rpg-chat article .field-name-field-ooc p:empty,#rpg-chat article .dice_rolls:empty {
height:1px;
margin:0;
}

#rpg-chat article .links {
position:relative;
top:-15px;
}

#rpg-chat-userlist {
margin-right:32px;
}

#rpg-chat-userlist li {
float:right;
width:30%;
}

#rpg-chat-weather {
float:right;
position:relative;
top:-2.2em;
}

#rpg-chat-weather .moon {
margin:0;
padding:0;
}

#rpg-chat-weather .rpg-weather-img img {
width:30px;
}

/* Block specific changes. */
#block-views-rpg-chats-search-rpg-chats .view-header p,
#block-views-rpg-chats-inroom-rpg-chats p,
#rpg-chat-userlist h3,
#rpg-chat-userlist ul{
margin:0;
}

#block-views-rpg-chats-inroom-rpg-chats {
float:right;
margin:0 0 0 .5em;
width:210px;
clear:right;
}

#block-views-rpg-chats-search-rpg-chats .form-item .error,
#block-views-rpg-chats-inroom-rpg-chats .form-item .error {
border:1px solid #ccc;
}

#block-views-rpg-chats-search-rpg-chats input.form-text,
.vaxia-dice-roller .form-type-textfield .dice-skill {
width:170px;
}

#block-moon-phases-moons .moon-block {
float:right;
position:relative;
top:-7px;
width:150px;
}

#block-play-suggestions-play-suggestions {
float:right;
clear:right;
}

#views-exposed-form-rpg-chats-inroom-rpg-chats {
margin-bottom:.5em;
}

/* Don't show images for descriptive posts. */
.rpg-chat-narrative .submitted{display:none;}

.rpg-chat-node #comment-form {
clear:left;
float:left;
width:400px;
}

.rpg-chat-node #comment-form .field-name-field-artwork {
float:none;
padding:0;
}

.rpg-chat-node #rpg-chat-userlist,
.rpg-chat-node #rpg-chat {
clear:none;
float:none;
width:auto;
}

.rpg-chat-node #rpg-chat-wrapper {
float:none;
margin-left:410px;
position:relative;
top:-25px;
}

.rpg-chat-node .comments{
padding-top:1em;
}

.rpg-chat-node .field-name-field-artwork,
.rpg-chat-node .field-name-field-parent,
.rpg-chat-node .field-name-field-children {
clear:right;
float:right;
padding:1em;
width:250px;
}

.rpg-chat-node .vaxia-dice-roller #edit-vaxia-rolls-items {
width:380px;
}

.rpg-chat-node .vaxia-dice-roller .dice-number,
.rpg-chat-node .vaxia-dice-roller .dice-size,
.weather {
width:auto;
}

.rpg-chat-node .vaxia-dice-roller .dice-skill {
width:180px;
}

.rpg-chat-node .vaxia-dice-roller .dice-stat {
width:90px;
}
.rpg-chat-node .vaxia-dice-roller .form-item-vaxia-rolls-items .form-select{
width:100%;
}

.rpg-chat-node article.comment {
background-color:#555;
border:solid 1px #FFF;
padding:.5em;
}

.rpg-chat-node article.comment .field-name-comment-body {
min-height:210px;
}

.rpg-chat-node article.comment header .permalink,
#block-views-rpg-chats-search-rpg-chats .views-exposed-widget {
float:none;
}

.rpg-chat-node article.comment header .submitted {
float:left;
margin:1em;
width:150px;
}

.rpg-chat-node article.comment header .submitted img {
display:block;
margin:0 auto;
}

.rpg-chat-node article.comment header .submitted span, {
display:block;
}

.rpg-chat-node article.comment.clearfix:after,
article.node-rpg-chatroom.clearfix:after,
article.node-rpg-chatroom .field-type-node-reference.clearfix:after,
.dice_rolls,
.dice_rolls .dice {
clear:none;
}

.rpg-chat-node article.rpg-chat-narrative .field-name-comment-body {
min-height:10px!important;
}

.vaxia-dice-roller .fieldset-description {
float:right;
font-size:10px;
position:relative;
z-index:10;
}

.vaxia-dice-roller .form-type-textfield .dice-stat {
width:80px;
}

.vaxia-dice-roller table td {
padding-right:0;
}

.vaxia-dice-roller-hidden,
.rpg-chat-narrative header .rpgchat-user-name,
.rpg-chat-narrative header .rpgchat-character-name,
.rpg-chat-narrative header .rpgchat-character-perms {
display:none!important;
}

.node-type-rpg-chatroom #main {
padding-top:.5em;
}

.node-type-rpg-chatroom #main #content .breadcrumb,
.node-type-rpg-chatroom #main #content #page-title {
clear:right;
float:right;
}

/* Only shows in limbo. */
#block-views-proposals-proposals-closing {
background:rgba(100,100,100,0.3);
border:1px solid #EEE;
padding-left:1em;
padding-right:1em;
}

/* Images only allowed in OOC rooms */
#rpg-chat .field-name-comment-body img,
.view-chat-archives .field-name-comment-body img {
display:none;
}
article.ooc-room #rpg-chat .field-name-comment-body img,
.view-chat-archives .field-name-comment-body img {
max-width:400px;
}

/* Weather and moon layout */
#rpg-chat-weather img {
height:30px;
}

.weather .weather-pic {
float:none!important;
padding:.2em!important;
}

.moon-block h5{display:none;}
.moon-block .moon {
-moz-border-radius:30px;
-webkit-border-radius:30px;
background-color:transparent;
border-radius:30px;
height:30px;
width:30px;
}

.moon-block .moon .moonmask {
-moz-border-radius:30px;
-webkit-border-radius:30px;
border-radius:30px;
height:30px;
width:30px;
}
.moon-overlay
.moon-block .moon .moonmask .overlay {
height:30px;
width:15px;
}
