/* Layout. */
#primary-menu-bar nav{background-color:rgba(255,255,255, 0.1);}

/* Font size, color, family.*/
body{color:#ccc;background-color:#001;border-color:#ccc}
#page{color:#ccc;background-color:#012;}
#header{background-color:#024;}
#primary-menu-bar{background-color:#024;}
#footer{background-color:#024;}
.description{color:#ccc;}

/* Link colors - light.*/
a, a.active, a:visited{color:#69c;}

/* Site name. */
#header #site-name a:link, #site-name a:visited, #site-name a:hover{color:#ccc;}

/* Navigation links. */
#primary-menu-bar a{color:#ccc;}

/* Sidebar rounds. */
.region-sidebar-first h2{color:#ccc;background-color:#024;}
.region-sidebar-first h2 a,
.region-sidebar-first h2 a.active,
.region-sidebar-first h2 a:visited{color:#ccc;}
.region-sidebar-first h3{color:#ccc;background-color:#024;}
.region-sidebar-first h3 a,
.region-sidebar-first h3 a.active,
.region-sidebar-first h3 a:visited{color:#ccc;}

/* Tabs */
ul.tabs li{border-color:#ccc;}
ul.primary li{background-color:#456 !important;}
ul.primary li a{color:#999;background-color:#456;}
ul.primary li.active{background-color:#678 !important;}
ul.primary li.active a{color:#bbb;background-color:#678;}

/* Input buttons. */
.button, button, input[type="reset"], input[type="button"], input[type="submit"]{
  color:#ccc;border-color:#ccc;background:#456;}
a.button, .button a{color:#ccc;}

/* Forms */
form input{color:#eee;border-color:#456;background-color:#678;}
form textarea{color:#eee;background-color:#678;}
form select{color:#eee;background-color:#678;}
form select optgroup{color:#eee;background-color:#678;}
form select option{color:#eee;background-color:#678;}
form .dd .ddTitle{color:#eee;background-color:#678;}
form .resizable-textarea .grippie{background-color: #456;}
form input[type="reset"]:disabled, input[type="button"]:disabled, input[type="submit"]:disabled{
  color:#777 !important;border-color:#abc;background-color:#bcd;}

/* Tables */
table.sticky-header{color:#999;background-color:#456;}
table.sticky-header a{color:#999;}
tr.even, tr.odd{border-color:#ccc;}

/* Pullout color tweaks */
.jsPulloutFlap{border-color:#024;background-color:#456;}
.jsPulloutContent{border-color:#024;background-color:#456;}
.jsPulloutContent #primary-menu-bar a,
.jsPulloutContent #primary-menu-bar a.active,
.jsPulloutContent #primary-menu-bar a:visited{color:#ccc;}

/* Badges */
.user_badges img{background:#222;border-color:#444;}
.author-badges img{background:#222;border-color:#444;}

/* Wiki links.
a.freelink-createnode{color:#f55;}
*/

/* PRG Chat links. */
.rpg-chat{color:#fff;}
.rpg-chat a, .rpg-chat a.active, .rpg-chat a:visited{color:#fff;}

/* Forums */
.rate-info, .rate-description{color:#eee;}
.rate-widget .rate-number-up-down-btn-up{background-color:#ccc;}
.forum-node-create-links .forum-add-node{border-color:#ccc;background-color:#456;}
.forum-node-create-links .forum-add-node a{color:#999;}
.forum-post-links li{border-color:#ccc;background-color:#456;}
.forum-post-links li a{color:#999;}
